<div class="jumbotron">
  <h1>Welcome to Blocitoff</h1>
    <p>Blocitoff is a self-destructing to do list to keep your life tidy and your mind sane</p>
    <p id="sign-in-buttons">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-sm' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-sm' %> today!
    </p>
</div>

<h1>Welcome to Blocitoff</h1>

