<br/>
<div class="container">
  <div class="jumbotron img-responsive">
    <h1>Welcome to Bloccitoff</h1>
      <p>Blocitoff is a self-destructing to-do list to keep your life tidy and your mind sane!</p> 
  </div>
</div>
