 @import "bootstrap";

.jumbotron {
  background-color: #D2E0E0;
}

.btn-primary{
  background-color:#1D7272;
  border-color: black;
}
#sign-in-buttons{
  position: fixed;
  top: 30px;
  right: 30px;
}

.new_todo {
  margin: 30px;
}